<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header> 

<ion-content> <!-- Establecer el fondo blanco -->
  <div *ngIf="userInfo; else noInfo">
    <h2 style="text-align: center;">Información del Usuario</h2> <!-- Título centrado dentro del contenido -->

    <form *ngIf="isEditing; else displayInfo">
      <ion-item>
        <ion-label>Nombre:</ion-label>
        <ion-input [(ngModel)]="userInfo.nombre" name="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Segundo Nombre:</ion-label>
        <ion-input [(ngModel)]="userInfo.segundo_nombre" name="segundo_nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Apellido Paterno:</ion-label>
        <ion-input [(ngModel)]="userInfo.apellido_paterno" name="apellido_paterno"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Apellido Materno:</ion-label>
        <ion-input [(ngModel)]="userInfo.apellido_materno" name="apellido_materno"></ion-input>
      </ion-item>
 
      <ion-item>
        <ion-label>Correo Personal:</ion-label>
        <ion-input [(ngModel)]="userInfo.correo_personal" name="correo_personal"></ion-input>
      </ion-item>

    </form>

    <ng-template #displayInfo>
      <p class="user-info"><strong>Email:</strong> {{ userInfo.correo_institucional }}</p>
      <p class="user-info"><strong>Correo Personal:</strong> {{ userInfo.correo_personal }}</p>
      <p class="user-info"><strong>Nombre:</strong> {{ userInfo.nombre }} {{ userInfo.segundo_nombre }}</p>
      <p class="user-info"><strong>Apellido:</strong> {{ userInfo.apellido_paterno }} {{ userInfo.apellido_materno }}</p>
      <p class="user-info"><strong>Rol:</strong> {{ userInfo.rol }}</p>
   </ng-template>
   

    <ion-button expand="full" color="secondary" (click)="editUserInfo()">
      {{ isEditing ? 'Guardar' : 'Editar' }}
    </ion-button>
  </div>
  <ng-template #noInfo>
    <p>No hay información del usuario disponible.</p>
  </ng-template>
</ion-content>
