#header{
    height: 15%;
    background:#F2A900;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 20px;
}

.card{
    margin-top: -2.5rem;
}