<ion-header>
  <ion-toolbar color="secondary" style="--border-bottom: none;">
    <ion-buttons slot="end">
      <ion-button (click)="openPopover($event)">
        <ion-icon name="person" style="color: white;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content color="tertiary">
  <div id="header"></div>

  <ion-card color="primary" class="card">
    <ion-card-header class="ion-text-center">
      <ion-card-title>Bienvenido Alumno!</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div *ngFor="let item of vinculos">
    <ion-card color="primary" class="card-item">
      <ion-card-content>
        <ion-item color="primary" routerLink="{{item.ruta}}">
          <ion-label class="item-title">{{item.titulo}}</ion-label>
          <ion-icon slot="end" name="{{item.icono}}"></ion-icon>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
