#header{
    height: 15%;
    background:#F2A900;
    border-radius: 0 0 20px 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 20px;
}

.card{
    margin-top: -2.5rem;
}
.back-button {
    position: absolute;   /* Posiciona el bot贸n de manera absoluta en la pantalla */
    top: 20px;            /* Ajusta la distancia desde la parte superior */
    left: 20px;           /* Ajusta la distancia desde la parte izquierda */
    z-index: 100;         /* Asegura que el bot贸n se superponga a otros elementos */
    background: rgba(238, 236, 108, 0.5); /* Fondo semitransparente para el bot贸n */
    color: white;         /* Color del icono */
    border-radius: 50%;   /* Hace que el bot贸n sea redondo */
    border: none;
  }