<app-encabezado></app-encabezado>

<ion-content color="tertiary">
  <div id="header"></div>

  <ion-card color="primary" class="card">
    <ion-card-header class="ion-text-center">
      <ion-card-title>Asistencia</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let item of asignaturas">
    <ion-card-header>
      <ion-card-subtitle>{{ item.asignatura_id }}</ion-card-subtitle>
      <ion-card-title>{{ item.nombre }}</ion-card-title>
      <ion-card-subtitle>Aula: {{ item.aula }}</ion-card-subtitle>
      <ion-card-subtitle>Horario: {{ item.horario }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
